수정전 css
/* WP_10.css */
/*init*/
*{
	margin: 0px;
	padding: 0px;
}
body{
	width: auto;
	margin: 0px auto;
    justify-content: center;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

#topBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 1002px;
    height: 55px;
    display: flex;
    align-items: center;
    /* Top-bar 색조정 */
    background: rgba(68, 68, 68, 0.9);
    z-index: 3;
    
}

.lives-container {
    margin-left: 22px;
    display: flex;
    gap: 6px;
}

.score-container {
    margin-left: 40px;
    font-size: 22px;
    font-family: 'Arial Black', Arial, sans-serif;
    color: #333;
    letter-spacing: 1.5px;
    min-width: 120px;
}

/* canvas style 세팅 */
canvas {
    display: block;
    border: 2px solid #000;
    background-color: #ddd;
    
}
#gameContainer {
    position: relative;
    width: 1000px;
    height: 600px;
    margin: 150px auto;
}
#gameCanvas {
    display: block;
    position: absolute;
    top: 55px;
    left: 0;
    z-index: 1;
}

/* 일시정지버튼 */
.settings {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  background-image: url('https://img.icons8.com/ios-filled/50/000000/settings.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform 0.2s;
  z-index: 2;
}

.settings:hover {
  transform: rotate(30deg);
}

/*pause 할 시 띄워지는 overlay*/
#pauseOverlay {
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid black;
    width: 1000px;
    height: 655px;
    /* 배경 색깔을 해당 스테이지 속성 색깔로 변경 예정 */
    background: rgba(0,0,0,0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.pause-modal div {
    text-align: center;
    margin: 20px;
    padding: 16px 60px;
    font-size: 22px;
    border-radius: 14px;
    border: none;
    background: rgba(100, 100, 100, 0.7);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.15s;
}
.pause-modal div:hover {
    background: #2d2d2d;
}